<p id="notice"><%= notice %></p>

<p>
  <b>Pitch:</b>
  <%= @attachment.pitch_id %>
</p>

<p>
  <b>Upload url:</b>
  <%= @attachment.upload_url %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
